# Data files & directories
data/
*.parquet
*.jsonl

# Temporary text files
data/benchmark_data/temp.txt
test.txt
*.txt
!requirements.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environment
venv/